.labs-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.labs-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.subject {
  margin-bottom: 40px;
}

.subject-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.lab-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.lab-select option {
  font-size: 16px;
  color: #333;
}

.lab-select:focus {
  outline: none;
}
