.headDiv{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-top: 30px;*/
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}